<!DOCTYPE html>
<html>
<head>
<title>Pushtakmela.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
  h6{
    color: #ccc;
    text-transform: capitalize;
    font-size: 20px;
  }
  h5{
    color: azure;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .row{
    flex-wrap: wrap;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: #ffc107;
    font-weight: 700;
  }
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
   }

  .head{
    background-color: #ffc107;
    border-radius: 5px;
    margin-top: -40px;
    padding-top: 15px;
    padding-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    
    border-bottom: 1px solid #ccc;
  }
  .Effect-1 ~ .Focus-border{
    position:absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: 0.4s;
  }
  .Effect-1:focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
  .effect{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.effect h2{
  color:#fff;
  margin: 20px;
}
  

    .effect a:hover {
      border-color: #fff;
      border: dashed;
      transition: 2s;
      border-width: 2px;
    }
      
    .effect a:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: -2px;
      left: -2px;
      border: 2px dashed #fff;
      position: absolute;
      border-radius: 50%;
    }
  .buttons{
    display: flex;
    margin-left: 36%;
    
  }
  .footer{
    margin-top: 20px;
    height: 200px;
    background-color: #343a40;
}
 .effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    color: #fff;
    border: 2px solid #fff;
    border: solid;
  } 
  h6{
    color: #fff;
  }
   .effect i {
      position: relative;
      z-index: 3;
      color: #fff;
    }
    
   .effect a:last-child {
      margin-right: 0px;
    }
    
   .effect a:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    .effect i {
      display: inline-block;
      vertical-align: middle;
    } 
   
  
  

</style>
<body>

  
<!--1. NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand"></a>
  <img src="images/2.png" height="50" alt="BOOKS">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active text-light"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
          <a href="#Aboutus" class="nav-item nav-link text-light">About us</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Books</a>   <!-- Dropdown -->
              <div class="dropdown-menu">
                  <a href="#firsthand" class="dropdown-item">First Hand Books</a>
                  <a href="#secondhand" class="dropdown-item">Second Hand Books</a>
                  <a href="#pdfs" class="dropdown-item">Free Books</a>
              </div>
          </div>
      </div>
      <form class="form-inline">                                                                         <!-- Search BAR-->
          <div class="input-group">                    
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                  <button type="button" class="btn btn-warning"><i class="fa fa-search fa-search"></i></button>
              </div>
          </div>
      </form>
      {{#if login}}
      <h6>{{firstname}}</h6>
      {{/if}}
      
      <div class="navbar-nav">
        <a href="/{{#if login}}{{signin}}{{/if}}" class="nav-item nav-link text-light"> {{#if login}}   <h5> {{sign_in}}</h5> {{/if}}</a>
        
        <a href="/{{#if login}}{{signup}}{{/if}} " class="nav-item nav-link text-light"> {{#if login}}<h5>{{sign_up}}</h5>{{/if}} </a>
        
      </div>


  </div>
</nav>

  <!--2. SLIDE SHOW -->
 <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/firsthand"> <img class="d-block w-100" src="images/carousel1.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color: black; padding-right:47rem; ">First Hand Books</h1>
              <p style="color: black; padding-right: 47rem;font-family: Verdana, Geneva, Tahoma, sans-serif; padding-bottom: 15rem; font-size: 25px;">One Place destination for all brand new books</p>
            </div></a>
        </div>
        <div class="carousel-item">
         <a href="/secondhand"> <img class="d-block w-100" src="images/carousel2.jpg" alt="Second slide"></a>
            <div class="carousel-caption d-none d-md-block">
              <h1>Second Hand Books</h1>
              <p style="font-size:25px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Get old refurbished books at lower cost</p>
            </div>
        </div>
        <div class="carousel-item">
         <a href="/ebooks"> <img class="d-block w-100" src="images/carousel3.jpg" alt="Third slide"></a>
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color: black; padding-bottom:15rem ;">Free E-books</h1>
            </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
  
  <!--3. Books Counter-->
  <div class="jumbotron">
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-4 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="0" class="purecounter">18</span>
          <p>First Hand Books</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="0" class="purecounter">20</span>
          <p>Second Hand Books</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="0" class="purecounter">8</span>
          <p>Pdfs</p>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
  
  <br>
  <hr class="my-2">

  <!--4. Content-->
  <div class="row">
  <div class="card col-lg-4" style="width: 18rem;" id="firsthand">
    <img class="card-img-top" src="images/Essential-Books.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">First Hand Books</h5>
      <p class="card-text">Here you will find the latest books.</p>
      <a href="/{{#if login}}{{firsthandbook}}{{/if}}" class="btn btn-warning">Explore</a>
    </div>
  </div>
  <div class="card col-lg-4" style="width: 18rem;" id="secondhand">
    <img class="card-img-top" src="images/essential books.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Second Hand Books</h5>
      <p class="card-text">Here you will find the second hand books.</p>
      <a href="/{{#if login}}{{secondhandbook}}{{/if}}" class="btn btn-warning">Explore</a>
    </div>
  </div>
  <div class="card col-lg-4" style="width: 18rem;" id="pdfs">
    <img class="card-img-top" src="images/books2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pdfs</h5>
      <p class="card-text">Here you will find free ebooks.</p>
      <a href="/ebooks" class="btn btn-warning">Explore</a>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <!--5. About us -->
  <div class="jumbotron">
  <div class="Profile" id="Aboutus">
    <div class="row">
        <div class="col-lg-3 text-center">
          <img class="rounded-circle" src="images/anime boy.jpeg" alt="Profile Picture" width="140" height="140">
          <h2>Aditya</h2>
          <p>Web Designer</p>
          <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
        </div>

        <div class="col-lg-3 text-center">
          <img class="rounded-circle" src="images/anime girl.jpeg" alt="Profile Picture" width="140" height="140">
          <h2>Shruti</h2>
          <p>Web Designer</p>
          <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
        </div>

        <div class="col-lg-3 text-center">
          <img class="rounded-circle" src="images/anime boy.jpeg" alt="Profile Picture" width="140" height="140">
          <h2>Shashi</h2>
          <p>Web Designer</p>
          <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img class="rounded-circle" src="images/anime girl.jpeg" alt="Profile Picture" width="140" height="140">
          <h2>Lucky</h2>
          <p>Web Designer</p>
          <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
        </div>
      </div>
  </div>
  </div>
<br>
<br>
<br>
<hr>
<!-- 6. Contact Form -->
<section class="contact">
  <div class="container py-5 ">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="head text-center text-black">
                  <h3>Contact Us</h3>
                </div>
              </div>
            </div>
            <div class="form p-3">
              <div class="form-row my-5">
                <div class="col-lg-6">
                  <input type=text class="Effect-1" placeholder="First Name">
                  <span class="Focus-border"></span>
                </div>
                <div class="col-lg-6">
                  <input type=text class="Effect-1" placeholder="Last Name">
                  <span class="Focus-border"></span>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12 pb-4">
                  <input type=text class="Effect-1" placeholder="Email Address">
                  <span class="Focus-border"></span>
                </div>
                </div>
              <div class="form-row">
                <div class="col-lg-12 pt-5">
                  <input type=text class="Effect-1" placeholder="Your message">
                  <span class="Focus-border"></span>
                </div>
                </div>
                <div class="form-row pt-4">
                  <div class="offset-8 col-lg-4">
                    <button class="btn btn-warning">Send Message</button>
                  </div>
                  </div>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer">
  <div class="effect">
    
      <div><h2>Follow Us</h2></div>
      <div class="buttons">
        <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      
        <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
    
    </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

